.array-container {
    position: absolute;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    /* top: 100px; */
  }

  .array-bar {
    display: inline-block;
    margin: 0 1px;
    color: transparent;
  }
  
  .btn-group {
      margin: 8px;
  }

  .btnaction {
    margin: 4px;
    padding: 2px;
  }