.array-container {
    position: absolute;
    margin-left: 100px;
    /* top: 100px; */
  }

  .array-bar {
    width: 4px;
    display: inline-block;
    margin: 0 1px;
    color: transparent;
  }
  
  .btn-group {
      margin: 8px;
  }